<!DOCTYPE html>
<html>
<body>

<h1>Web Summarizer</h1>

<form action="/" method="post" enctype="multipart/form-data">
    <label for="inputText">Enter Text to Summarize:</label>
    <br>
    <textarea cols="100" rows="10" id="inputText" name="inputText"></textarea>
    <br>
    <label for="inputURL">Enter a Article URL to summarize:</label>
    <br>
    <textarea cols="100" rows="1" id="inputURL" name="inputURL"></textarea>
    <br>
    <label for="inputURL">Enter a YouTube URL to summarize:</label>
    <br>
    <label for="inputURL">Enter a start and end times (MM:SS):</label>
    <br>
    <textarea cols="10" rows="1" id="startM" name="startM"></textarea>
    <textarea cols="10" rows="1" id="startS" name="startS"></textarea>
    <textarea cols="10" rows="1" id="endM" name="endM"></textarea>
    <textarea cols="10" rows="1" id="ends" name="endS"></textarea>
    <br>
    <textarea cols="100" rows="1" id="inputYTURL" name="inputYTURL"></textarea>
    <br>
    <label for="extra">Extra formating or instructions:</label>
    <br>
    <input type="submit" value="Summarize">
</form>

<h2>Summary:</h2>
<textarea readonly> {{ summary }} </textarea>

</body>
</html>
