.dashboard{
    display: flex;
    flex-direction: row;
    color: #2e4069;
    margin: 0;
    min-height: 100vh;
}

.side-panel{
    /* padding: 2rem; */
    min-width: 18%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #ceddff;
    padding-bottom: 4rem;
    transition: transform 0.5s ease-in-out;
}

.side-panel-title-wrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 1vw; 
}

.small-side-panel-container{
    /* padding-top: 10vw; */
    background-color: #ceddff;
    transition: transform 0.5s ease-in-out;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.side-panel.active{
    width: 10%;
}

.main-panel{
    padding: 3rem;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-items: center;
    align-items: center; */
    background-color: rgb(250, 250, 250);
}

.dashboard-options{
    display: flex;
    flex-direction: column;
    /* width: 190px; */
}

.dash-option{
    display: flex;
    justify-content: left;
    align-items: center;
    /* width: 100%; */
    padding: 1em 2em;
    gap: 0.7em;
    border-radius: 5px; 
    border: none;
    /* text-decoration: none;  */
    background-color: #ceddff;
    font-size: clamp(1rem, 1.2vw, 4rem);
    color: #2e4069;
}

.small-icon{
    padding: 1em;
}

.dash-option-icon{
    font-size: clamp(25px, 7vh, 2vw);
}

.dash-option:focus, .dash-option.active{  
    background-color: #4f618a;
    color: white;
}

.dash-option:hover{
    background-color: #7586ae;
    color: white;
    cursor: pointer;
}

.user-profile-container{
    padding-bottom: 1.5vw;
}

.user-profile{
    font-size: clamp(100px, 10vw, 15vw);
    /* padding-bottom: 2.5em; */
}

.user-name{
    /* margin-bottom: 1.5em; */
    /* margin-top: 0.4em; */
    padding: 1vw;
    font-weight: 600;
    font-size: clamp(1rem, 1.4vw, 4.2rem);
    padding-left: 4.5vw;
    padding-top: 2vw;
}

.sidebar-icon{
    font-size: clamp(25px, 7vh, 2vw);
    border-radius: 10vw;
    background-color: #7586ae;
    color: white;
}

.sidebar-icon:hover{
    background-color: #6074a4;
    color: white;
}

.sidebar-icon-container{
    border:0;
    background-color:transparent;
    /* margin-left: auto; */
    padding-left: 20px;
    padding-top: 1vw;
}

.settings-wrapper, .templates-wrapper, .history-wrapper, .api-wrapper{
    display: flex;
    flex-direction: column;
}

.settings-wrapper .profile, .plan, .app, .extra{
    border-bottom: 1px solid rgb(194, 193, 193);
    padding-bottom: 2em;
    padding-top: 1em;
}

.settings-wrapper .profile-div{
    font-weight: 600;
    cursor: auto;
}

.settings-wrapper .label{
    color: black;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    font-size: 16px;
    display: block;
    font-weight: 600;
}

.settings-wrapper .text{
    width: 25%;
    font-size: 15px;
    display: inline-block; 
    font-weight: 400;
}

.settings-wrapper .plan-list{
    font-size: 15px;
    padding-top: 1em;
}

.plan-text{
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #a06307;
}

.plan-list ul{
    font-size: 14px;
    margin-top: 1em;
    padding-left: 1em;
    list-style: none;
}

.plan-list li{
    padding-bottom: 0.2em;
}

.plan-list span{
    font-weight: 600;
    padding-left: 0.7em;
    padding-right: 0.3em;
}

.settings-wrapper .update, .popup-close{
    all: unset;
    font-size: 14px;
    color: #3e4ddd;
    padding-left: 1em;
    display: inline-block;
}

.settings-wrapper .update:hover{
    text-decoration: underline;
    cursor: pointer;
}

.popup-close{
    all: unset;
    font-size: 16px;
    color: #2e4069;
    line-height: 16px;
}

.popup-close:hover{
    scale: 1.2;
    cursor: pointer;
}

.popup{
    border: 1px solid black;
    padding: 4em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(180, 178, 178, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 3em;
    width: 100%;
    max-width: 640px;
    background-color: rgb(255, 255, 255, 1);
    border-radius: 20px;
}

.popup-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.7em;
}

.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfield{
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.logout-btn{
    margin-top: 3em;
    border: 0.15vw solid #2e4069;
    color: black;
}

.mode-btn, .review-btn, .acc-delete-btn, .confirm-btn, .sum-btn, .short-btn{
    all: unset;
    font-size: 14px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #3b4b71;
    opacity: 0.8;
    padding: 1em 2em;
    color: white;
    margin: 1em 0;
    width: 250px;
    text-align: center;
}

.mode-btn:hover, .confirm-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.review-btn{
    border: 2px solid #95ace1;
    background-color: #e0e9fe;
    color: #2e4069;
    font-weight: 550;
}

.review-btn:hover{
    border-color: black;
    cursor: pointer;
    color: black;
}

.acc-delete-btn{
    margin-top: 2.6em;
    background-color: #6b0606;
    opacity: 0.7;
}

.acc-delete-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.hist-section{
    display: flex;
    gap: 2em;
    padding-top: 2em;
}

.sum-btn, .short-btn{
    background-color: #dbe5fa;
    color: black;
    border-width: 2px;
    font-weight: 500;
}

.sum-btn:hover, .short-btn:hover, .sum-btn.active, .short-btn.active{
    opacity: 1;
    cursor:pointer;
    background-color: #2e4069;
    color: white;
}

.btn-section{
    display: flex;
    padding-left: 0.65em;
}

.control-btn{
    all: unset;
    font-size: 19px;
    line-height: 14px;
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 50px;
    /* background-color: #3b4b71; */
    /* opacity: 0.8; */
    /* padding: 1em 2em; */
    color: #2e4069;
    margin: 1em 0 0.4em;
    /* width: 250px; */
    text-align: center;
}

.control-btn:hover{
    background-color: #d4d6dc;
    cursor: pointer;
}

#summary-table, #shortener-table{
    padding-left: 0.6em;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.custom-checkbox input{
    display: none;
}

/* #summary-table th{
    display: none;
} */

#summary-table tr,  #shortener-table tr{
    border-bottom: 1px solid black;
}

#summary-table td,  #shortener-table td{
    padding: 1em;
    /* border: 1px solid; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#summary-table .scrollable,  #shortener-table .scrollable{
    max-height: 300px;
    overflow-y: auto;
    max-width: 400px;
}

.template-div{
    /* margin-top: 2.5em; */
    padding: 2em 0;
    border-top: 1px solid #c3cee8;
}

.templates-wrapper h1{
    padding-bottom: 1em;
}

.button-container{
    margin-top: 1em;
}

.temp-heading{
    display: flex;
    margin-bottom: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.temp-heading h3{
    font-size: 18px;
    padding-top: 6px;
}

.temp-delete{
    all:unset;
    font-size: 20px;
    line-height: 10px;
    margin-left: 3em;
    padding: 8px;
    border-radius: 50px;
}

.temp-delete:hover{
    background-color: #ccd3e4;
    cursor: pointer;
}

.save-custom-info, .reset-custom-info{
    display: inline;
    margin-right: 10px;
}