.feedback {
    font-size: clamp(0.95rem, 1.1vw, 10rem);
    text-align: center;
    justify-content: center;
    margin: auto;
    width: clamp(280px, 45vw, 3000px);
    padding-top: 10vh;
}

.feedback-para {
    padding: 1%;
    padding-top: 1%;
}

.star-section {
    padding: 2%;
}

.five-stars {
    padding: 1.5%;
}

.rating-input {
    display: none;
}

.star {
    cursor: pointer;
    font-size: clamp(30px, 7vh, 4vw);
}

.feedback-input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #A3CEEC;
    box-sizing:border-box;
    display: box;
    box-shadow: 5px 5px 5px #A3CEEC;
    border-radius: 10px;
    height: clamp(40px, 9vh, 300px);
    font-size: clamp(0.75rem, 0.8vw, 10rem);
}

.feedback-input:focus {
    outline: none;
}

.feedback-input:hover {
    cursor: text;
}

.send-feedback {
    margin: 5% auto;
    border: 0;
    cursor: pointer;
    background-color: #0d55a7; 
    width: clamp(80px, 4.2vw, 300px); 
    margin-top: 2em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
    height: clamp(40px, 3.8vh, 100px);

    width: clamp(70px, 4.2vw, 300px); 
    height: clamp(30px, 3.8vh, 100px);
}

.send {
    color: #ffffff;
    font-size: clamp(0.5rem, 1.25vw, 10rem);
    font-weight: 600;
    text-wrap: nowrap;

    font-size: clamp(0.85rem, 1.1vw, 10rem);
}


.send-feedback:hover {
    opacity: 0.8;
    cursor: pointer;
}





 

