.feedback {
    text-align: center;
    max-width: 600px;
    font-size: larger;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.feedback-para {
    padding: 3%;
}

.star-section {
    padding: 2%;
}

.five-stars {
    padding: 1.5%;
}

.rating-input {
    display: none;
}

.star {
    cursor: pointer;
}

.feedback-input {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #A3CEEC;
    box-sizing:border-box;
    display: box;
    box-shadow: 5px 5px 5px #A3CEEC;
    border-radius: 10px;
    line-height: 2em;
}

.feedback-input:focus {
    outline: none;
    padding: 10px 10px;
}

.send-feedback {
    margin: 5% auto;
    border: 0;
    padding: 11px 25px;
    cursor: pointer;
    font-size: medium;
    background-color: #0d55a7; 
    width: 150px; 
    margin-top: 1em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
}

.summarize-url-content {
    width: 95%;
}

.send {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-wrap: none;
}


.send-feedback:hover {
    opacity: 0.8;
}

@media (max-width: 665px) {
    .feedback {
        max-width: 500px;
    }
    .feedback-input {
        width: 90%;
    }
}

@media (max-width: 535px) {
    .feedback {
        max-width: 450px;
        font-size: large;
    }
    .feedback-input {
        width: 85%;
    }
}

@media (max-width: 460px) {
    .feedback {
        max-width: 350px;
        font-size: medium;
    }
    .feedback-input {
        width: 85%;
    }
}



 

