footer {
    background-color:#A3CEEC;
    min-height: 10vh;
    padding: 1.5em;
}

.footer-container {
    margin-top: auto;
    padding-top: 30px;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: clamp(0vh, 1vh, 4vh);
    font-size: clamp(1rem, 1.8vw, 4rem); 
}

.footer-help {
    padding-right: 2em
}

.footer-feedback {
    padding-right: 1.5em
}


