
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 40px;
}
  
.hero-div1 {
  height: 330px;
  /* overflow: hidden; */
  /* position: relative; */
  /* width: 982px; */
  padding: 5em;
  padding-bottom: 0em;
}

.hero-div2{
  /* width: 500px; */
  height: 330px;
  padding-top: 3.5em;
}

.hero-div2 .logo{
  width: 500px;
  /* padding-bottom: 3em; */
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
}

.hero-title {
  /* height: 1200px; */
  /* left: 0; */
  /* position: absolute; */
  /* top: 90px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  width: 100%;
}

.hero-heading {
  color: #002959;
  font-size: 60px;
  font-weight: 600;
  /* left: 229px; */
  letter-spacing: 0;
  line-height: 80px;
  /* position: absolute; */
  /* text-align: center; */
  top: 25px;
  width: 100%;
}
  
.hero-subheading {
  /* background-blend-mode: difference; */
  color: #002959;
  font-size: 22px;
  font-weight: 400;
  /* left: 402px; */
  letter-spacing: 0;
  line-height: 40px;
  /* position: absolute; */
  /* text-align: center; */
  /* top: 179px; */
  /* width: 636px; */
}
  
  
@media (max-width: 1125px) {
  .hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero-div2{
    padding-top: 1em;
  } 
  .hero-div2 .logo{
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 949px) {
  .hero-div2{
    padding-top: 5em;
  } 
}

@media (max-width: 800px) {
  .hero-heading{
    font-size: 45px;
    line-height: 70px;
  }
  .hero-subheading{
    font-size: 17px;
    line-height: 35px;
  }
  .hero-div2{
    padding-top: 0;
    margin-top: 0;
  }
}

@media (max-width: 753px){
  .hero-div2{
    padding-top: 4em;
  }
}

@media (max-width: 536px) {
  .hero-heading{
    font-size: 38px;
    line-height: 65px;
  }
  .hero-subheading{
    font-size: 15px;
    line-height: 30px;
  } 
}

@media (max-width: 450px) {
  .hero-heading{
    font-size: 30px;
    line-height: 45px;
  }
  .hero-subheading{
    font-size: 14px;
    line-height: 26px;
  } 
  .hero-div2{
    padding-top: 0;
    margin-top: 0;
  }
}


  /* .hero-page .layer {
    height: 426px;
    left: 0;
    position: absolute;
    top: 424px;
    width: 1440px;
  } */

  /*   
  .hero-page .logo {
    height: 38px;
    left: 100px;
    position: absolute;
    top: 30px;
    width: 90px;
  }
   */

  /* .hero-page .saly-12 {
    left: 219px !important;
    position: absolute !important;
    top: 217px !important;
  }
  
  .hero-page .frame {
    align-items: flex-start;
    background-color: #eb6c21;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 587px;
    padding: 18px 30px;
    position: absolute;
    top: 272px;
  }
   */
  /* .hero-page .group {
    height: 24px;
    position: relative;
    width: 206px;
  }
  
  .hero-page .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 6px;
    position: relative;
  }
  
  .hero-page .iconsax-linear {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .hero-page .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  } */
  
  /* .hero-page .doodle-5-1 {
    left: 1065px !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .landing-page .component-52 {
    left: 233px !important;
    position: absolute !important;
    top: 130px !important;
  } */
  
  /* .landing-page .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 30px;
    justify-content: flex-end;
    left: 686px;
    position: absolute;
    top: 48px;
  } */
  
  /* .hero-page .text-wrapper-2 {
    color: #002959;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .hero-page .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
  }
  
  .hero-page .iconsax-linear-2 {
    height: 10px;
    position: relative;
    width: 10px;
  }
  
  .hero-page .group-wrapper {
    align-items: flex-start;
    background-color: #eb6c21;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 1207px;
    padding: 18px 30px;
    position: absolute;
    top: 24px;
  }
  
  .hero-page .group-2 {
    height: 24px;
    margin-right: -2px;
    position: relative;
    width: 75px;
  }
  
  .hero-page .iconsax-linear-3 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .hero-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }
  
  .hero-page .overlap-wrapper {
    height: 34px;
    left: 1132px;
    position: absolute;
    top: 37px;
    width: 35px;
  }
  
  .hero-page .overlap-group {
    height: 34px;
    position: relative;
    width: 37px;
  }
  
  .hero-page .iconsax-linear-4 {
    height: 30px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 30px;
  }
  
  .hero-page .overlap-group-wrapper {
    box-shadow: 2px 2px 10px #ff47664c;
    height: 16px;
    left: 19px;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .hero-page .overlap-group-2 {
    background-color: #ff4766;
    border-radius: 8px;
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .hero-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 11px;
    font-weight: 600;
    left: 4px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    white-space: nowrap;
  }
   */