.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 4rem;
    column-gap: clamp(3vw, 10vw, 15vw);
    background-color: #B5CCE2;
}

.summarizer, .shortener {
    width: clamp(10vw, 30vw, 60vw);
    display: block; /* Ensure the entire block is clickable */
    height: 350px;
    min-width: 500px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #edf7f9;
} 

.summarizer:hover, .shortener:hover{
    background-color: #fcfcfc;
    scale: 1.05;
}

.main-summarizer, .main-shortener{
    padding: 0.8em 2em;
}

.title {
    font-size: clamp(0.6rem, 1.7vw, 10rem);
    font-weight: 600;
}

.para {
    font-size: clamp(0.6rem, 1vw, 10rem);
    font-weight: 500;
    margin-top: 1em;
}

.summarizer-img {
    width: clamp(10vw, 13vw, 60vw);
    padding: 1rem;
}

.shortener-img {
    width: clamp(10vw, 15vw, 60vw);
    padding: 1rem;
}

@media (max-width: 1000px) {
    .main{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      row-gap: clamp(3vw, 6vw, 15vw);
    }
    .summarizer {
        width: clamp(10vw, 60vw, 100vw);
    } 
    .summarizer-img, .shortener-img{
        width: clamp(25vw, 25vw, 60vw);
    }
    .title {
      font-size: clamp(1.1rem, 3.5vw, 15rem);
    }
    .para {
      /* color: #002959; */
      font-size: clamp(0.6rem, 2vw, 10rem);
    }
  }


/*.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: larger;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 6rem;
}

.summarizer {
    width: 354px;
    height: 127px;
    display: block; /* Ensure the entire block is clickable 
} 

.shortener {
    width: 354px;
    display: block; /* Ensure the entire block is clickable 
}

.summarizer-img, .shortener-img {
    height: 130px;
    padding-bottom: 15px;
}

@media (max-width: 745px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .main-shortener {
        margin-top: 80%;
    }
    .summarizer {
        padding-top: 50px;
    }
    .shortener {
        padding-bottom: 80px;
    }
}

@media (max-width: 460px) {
    .main {
        font-size: medium;
        width: 50%;
    }
}

@media (max-width: 380px) {
    .summarizer {
        width: 300px;
        height: 127px;
    }
    .shortener {
        width: 300px;
    }
}

*/