.main{
    padding-bottom: 10em;
    padding-top: 1.5em;
}

.summarizer {
    width: 354px;
    height: 127px;
    margin-left: 23%;
    margin-top: 10%;
    text-align: center;
}

.shortener {
    width: 354px;
    margin-left: 54%;
    margin-top: -125px;
    text-align: center;
}

.summarizer-img, .shortener-img {
    height: 130px;
    padding-bottom: 15px;
}

@media (max-width: 1140px) {
    .summarizer {
        margin-left: 20%;
    }
}

@media (max-width: 1024px) {
    .summarizer {
        margin-left: 13%;
    }
}

@media (max-width: 815px) {
    .summarizer {
        margin-left: 5%;
    }
    .shortener {
        margin-left: 50%;
    }
}

@media (max-width: 700px) {
    .shortener {
        margin-left: 25%;
        margin-top: 40%;
    }
    .summarizer {
        margin-left: 25%;
    }
}

@media (max-width: 570px) {
    .shortener {
        margin-left: 18%;
        margin-top: 55%;
    }
    .summarizer {
        margin-left: 18%;
    }
}

@media (max-width: 440px) {
    .shortener {
        margin-left: 12%;
        margin-top: 55%;
    }
    .summarizer {
        margin-left: 12%;
    }
}

@media (max-width: 400px) {
    .shortener {
        width: 300px;
        margin-left: 0%;
        margin-top: 55%;
    }
    .summarizer {
        width: 300px;
        margin-left: 0%;
    }
}





