.login-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6vh 0;
    min-height: 90vh;
}

.login-box .form, .login-box .account{
    height: clamp(570px, 50vh, 3200px);
    width: clamp(340px, 32vw, 1100px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5em 0;
}


.login-box .form{
    border-radius: 10px 0 0 10px;
}

.login-box .account{
    border: 0.1vw solid;
    border-left: 0;
    border-radius: 0px 10px 10px 0;
}

.login-box .form-title{
    font-size: clamp(1.1rem, 1.3vw, 10rem);
    margin-bottom: 2.5vh;
}

.login-box .gmail-overlap, .login-box .fb-overlap{
    height: clamp(40px, 3.2vh, 500px);
    font-size: clamp(0.9rem, 0.8vw, 10rem);
    border-radius: 25px;
    background-color: #fafaf9;
    width: clamp(300px, 20vw, 1000px);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box .gmail-icon, .login-box .fb-icon{
    height: 1.5em;
    padding-right: 0.3vw;
}

.login-box .email, .login-box .password{
    font-size: clamp(0.8rem, 0.8vw, 10rem);
    width: clamp(300px, 20vw, 1000px);
    margin-bottom: 1em;
}

.login-box .email-text, .login-box .pass-text{
    display: block;
}

.login-box .textfield{
    height: clamp(40px, 3.2vh, 500px);
    font-size: clamp(0.8rem, 0.65vw, 10rem);
    border-radius: 8px;
    position: relative;
    width: 100%;
    padding-left: 5px;
}

.login-box .login-overlap{
    width: clamp(300px, 20vw, 1000px); 
    font-size: clamp(0.9rem, 0.8vw, 10rem);
}

.login-box .create-overlap{
    width: clamp(300px, 20vw, 1000px);
    font-size: clamp(0.9rem, 0.8vw, 10rem);
}

.login-box .login, .login-box .create{
    padding: 0.4vw;
}

.login-box .login-btn, .login-box .create-btn, .login-box .gmail-btn, .login-box .fb-btn{
    all: unset;
    box-sizing: border-box;
    height: clamp(40px, 3.2vh, 500px);
    opacity: 0.9;
}

.login-box .login-btn:hover, .login-box .create-btn:hover{
    opacity: 1;
    cursor: pointer;
} 

.login-box .login-overlap, .login-box .create-overlap, .login-box .gmail-overlap, .login-box .fb-overlap{
    position: relative;
    margin-top: 1em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
}

.login-box .gmail-overlap:hover, .login-box .fb-overlap:hover{
    background-color: #e7e7e7;
}

.login-box .login, .login-box .create, .login-box .login-social{
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
}

.login-box .pass-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box .login-social{
    color: black;
}

.login-box .forgot{
    font-size: clamp(0.9rem, 0.85vw, 8rem);
    font-weight: 500;
    text-align: center;
    padding-top: clamp(3vh, 3vh, 2vh);
}

.login-box .forgot:hover{
    text-decoration:underline;
}

.login-box .join{
    font-size: clamp(0.9rem, 1vw, 10rem);
    text-align: center;
    padding: 0em 2em 1em;
    font-weight: 700;
}

.login-box .logo{
    width: clamp(300px, 25vh, 580px);
}
  
.login-box .account-img .logo{
    background-repeat: no-repeat;
    background-size: contain;
}
  
.login-box .email-error, .login-box .pass-error{
    padding-top: 2px;
}

.login-box .hide-pass{
    position: absolute;
    left: 92%; 
}

.login-box .hide-pass:hover{
    cursor: pointer;
}

.login-box .pass-container{
    position: relative;
}

.login-box .gmail-btn{
    margin-bottom: 1em;
}

.login-box .fb-btn{
    margin-bottom: 3em;
}

.login-box .facebook{
    margin-bottom: 2em;
    margin-top: 0.5em;
    border-radius: 90px !important;
    font-family: "IBM Plex Sans" !important;
}

.login-box .facebook button{
    width: clamp(230px, 12vw, 1000px) !important; 
    font-size: clamp(0.9rem, 0.8vw, 10rem) !important;
    height: clamp(36px, 3.1vh, 500px) !important;
    text-align: center !important;
    font-family: "IBM Plex Sans" !important;
    font-weight: 450 !important;
    padding-left: 2em !important;
}


@media (max-width: 800px) {
    .login-box{
        display: flex;
        flex-direction: column;
    }
    .login-box .form{
        margin-bottom: 0;
        border-radius: 10px;
    }
    .login-box .account{
        margin-top: 0.5em;
        border-radius: 10px;
        border: 2px solid;
    }
    .login-box .gmail-icon, .login-box .fb-icon{
        padding-right: 0.3vw;
    }
    .login-box .login, .login-box .create{
        padding: 1vw;
    }
}
