.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(248, 248, 238);
}

.form{
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5em 0;
    width: 550px;
    border: 2px solid #7e7d7d;
    border-radius: 10px;
    background-color: #ffffff;
}

.form-title{
    text-align: center;
    font-weight: bold;
    /* padding: 1em; */
}

.form-subtitle{
    text-align: center;
    padding: 2em 4em;
    font-size: 13px;
}

.username, .password{
    width: 450px;
    margin-bottom: 1em;
}

.user-text, .pass-text{
    display: block;
    padding-bottom: 5px;
    color: #757373;
}

.textfield{
    border: 1px solid #b7b6b6;
    border-radius: 8px;
    height: 45px;
    position: relative;
    width: 100%;
    padding-left: 5px;
}

.signup-btn{
    all: unset;
    box-sizing: border-box;
    height: 45px; 
    margin-bottom: 1em;
}

.signup-btn:hover{
    opacity: 0.8;
} 

.signup-overlap{
    height: 45px;
    position: relative;
    margin-top: 1em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
    background-color: #0d55a7; 
    width: 450px; 
}

.signup{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 0;
    line-height: 20px;
    /* position: absolute; */
    text-align: center;
    top: 13px;
    white-space: nowrap;
    padding-top: 12px;
}


@media (max-width: 1140px) {
    .box{
        display: flex;
        flex-direction: column;
    }
    .form{
        margin-bottom: 0;
        margin-bottom: 3.5em;
    }
}

@media (max-width: 640px) {

    .form{
        width: 400px;
        margin-bottom: 3.5em;
    }
    .signup-overlap, .username, .password{
        width: 300px;
    }
    
}

@media (max-width: 450px) {
    .form{
        width: 360px;
    }
    .signup-overlap, .username, .password{
        width: 250px;
    }
    .box{
        font-size: 1em;
    }
    .user-text, .pass-text, .signup{
        font-size: 12px;
        line-height: 12px;
    }
    .signup-overlap{
        height: 35px;
    }
}