*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* max-height: 85vh; */
 }

.wrapper {
    width: 90%;
    max-width: 2200px;
    margin: 0 auto;
    /* background: rgb(150, 16, 16); */
    border-radius: 5px;
    padding: 25px 25px 30px;
    display: grid;
    place-items: center; /* Center horizontally and vertically */
    /* position: relative; */
    /* flex: content; */
    /* width: 50%; */
    /* margin-bottom: 40px; */
}

.summarizer-container {
    /* background-color: yellow; */
    width: 100%
}

.wrapper h2 {
    font-size: 28px;
    text-align: center;
}
h2 {
    margin-bottom: 15px;
}

#OutputTextArea {
    border-left: solid 2px #bfbfbf;
}

.wrapper textarea {
    width: 100%;
    height: 60vh;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 30px;
    outline: none;
    resize: none;
    border: 0;
    font-size: 16px;
    border-color: #bfbfbf;
    margin-top: 0px;
    max-height: 80vh;
    /* transition: all 0.3s ease; Add a transition for all properties with a duration of 0.3 seconds */
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.centered-Div {
    /* background-color: #0d55a7; */
}

.text{
    display: flex;
    
    align-items: center;
    box-shadow: 0px 4px 15px 0px #00000033;
    background-color: greenyellow;
    width: 100%
}

.inputArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #0d55a7; */
    position: relative;
}

.buttonDiv {
    background-color: white;

    width: 100%;
    height: 60px;

    display: flex; 
    justify-content: flex-end; 
    align-items: center;

    border: 0;
    padding-right: 10px;
    padding-top: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.delete-button, .copy-button {
    position: absolute;
    top: 8px;
    right: 5px;
    padding-bottom: 0px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.delete-button{
    padding-top: 2px;
}
.copy-button{
    margin-right: 0px;
    margin-top: 1.5px;
}

.feedback-up, .feedback-down{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding-right: 5px;
}

.delete-button:hover svg, .feedback-up:hover svg, .feedback-down:hover svg, .copy-button:hover svg{
    color: #2861a3;
}

.summarize-btn {
    all: unset;
    box-sizing: border-box;
    height: 45px; 
    margin-bottom: 0.5em;
}

.summarize-btn:hover{
    opacity: 0.8;
    cursor: pointer;
} 

.summarize-overlap{
    padding-left: 12px;
    padding-right: 12px;
    height: 45px;
    position: relative;
    margin-top: 0.2em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
    background-color: #0d55a7; 
    width: auto; 
}

.summarize{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    top: 13px;
    white-space: nowrap;
    padding-top: 12px;
}

.button-container {
    width: 50%; /* Covering 50% of the horizontal screen space */
    height: 35px;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 0px;
    /* background-color: pink; */
}

.customSumBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 0px;
}

.customSumBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.clicked {
    background-color: white;
    box-shadow: 0px 4px 15px 0px #00000033;
    -webkit-text-stroke: 0.3px;
}

.disabled-hover:hover {
    background-color: white !important;
}

/* .clamp-text {
    font-size: clamp(1rem, 1.1vw, 1rem); 
} */