/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* max-height: 85vh; */
 }

.wrapper {
    width: auto;
    /* background: rgb(150, 16, 16); */
    border-radius: 5px;
    padding: 25px 25px 30px;
    /* flex: content; */
    /* width: 50%; */
    /* margin-bottom: 40px; */
}

.wrapper h2 {
    font-size: 28px;
    text-align: center;
}

.wrapper textarea {
    width: 65vh;
    height: 60vh;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 30px;
    border-radius: 5px;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 16px;
    border-color: #bfbfbf;
    margin-top: 20px;
    max-height: 80vh;
    /* transition: all 0.3s ease; Add a transition for all properties with a duration of 0.3 seconds */
}

/* textarea {
    padding-right: 10em;
} */

textarea#input:focus {
    border-width: 2px;
    padding-top: 19px;
    padding-left: 14px;
    padding-bottom: 19px;
    padding-right: 29px;
    border-color: #87CEFA;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #0d55a7; */
    position: relative;
}

.buttonDiv {
    /* background-color: green; */

    width: 100%;
    height: 25px;

    display: flex; 
    justify-content: flex-end; 
}

.delete-button {
    position: absolute;
    top: 28px;
    right: 5px;
    padding-bottom: 0px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.delete-button:hover svg {
    color: #0d55a7;
}

.summarize-overlap{
    /* height: 45px;
    margin-top: 0.2em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
    background-color: #0d55a7; 
    width: auto; */

    padding-left: 12px;
    padding-right: 12px;
    height: 45px;
    position: relative;
    margin-top: 0.2em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
    background-color: #0d55a7; 
    width: auto; 
}

.summarize{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 0;
    line-height: 20px;
    /* position: absolute; */
    text-align: center;
    top: 13px;
    white-space: nowrap;
    padding-top: 12px;
}