.url{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.url-wrapper {
    margin: auto;
    min-height: 90vh;
    width: clamp(500px, 40vw, 2000px);
}

.section-header-short{
    margin: 12%;
}

.section-header-short{
    padding: 1%;
    font-size: clamp(1.2rem, 2vw, 15rem);
}

.insert-url, .shorten-url {
    margin-top: 2%;
    font-size: clamp(0.6rem, 1.4vw, 10rem);
}

.url-error{
    text-align: left;
}

.custom-url-error{
    text-align: left;
    padding-left: 41.5%;
}

.custom-url {
    font-size: clamp(1rem, 1.4vw, 10rem);
    margin-bottom: 1%;
}

.url-div1, .url-div2 {
    display: flex;
    flex-direction: row;
    height: clamp(40px, 2.5vw, 100px);
    margin-top: 2%;
}

.premium-url {
    margin-top: 7%;
    margin-bottom: 10%;
}

.shorten, .copy-url {
    width: 22%;
    border-radius: 0 0.5vw 0.5vw 0;
    border: 0;   
    opacity: 0.9;
}

.shorten-custom {
    width: 18%;
    border-radius: 0.3vw;
    border: 0;    
    padding: 0.6vw;
    height: clamp(40px, 2.5vw, 100px);
    opacity: 0.9;
}

.shorten-url {
    margin-top: 5vh;
}

.input-url {
    font-size: clamp(0.6rem, 0.95vw, 10rem);
    border-radius: 0.5vw;
    border: 0;
    width: 100%;
    padding: 0.5rem;
}

.output-url{
    font-size: clamp(0.6rem, 0.95vw, 10rem);
    border-radius: 0.5vw 0 0 0.5vw;
    border: 0;
    width: 100%;
    padding: 0.5rem;
}

.shortify-url, .custom-word {
    font-size: clamp(0.6rem, 0.95vw, 10rem);
    border-radius: 0.5vw;
    border: 0;
    width: 39%;
    padding: 0.5rem;
    margin-right: 2%;
    height: clamp(40px, 2.5vw, 100px);
}

.input-url:focus, .output-url:focus, .shortify-url:focus, .custom-word:focus {
    outline: none;
}

.output-url:hover, .shortify-url:hover {
    cursor: default;
}

.url-div1:hover, .input-url:focus, .custom-word:focus, .custom-word:hover {
    box-shadow: 0px 4px 15px 0px #00000033;
}

.shortify-url::placeholder {
    opacity: 1; 
}

.button-text {
    font-size: clamp(0.5rem, 1.0vw, 10rem);
    font-weight: 600;
    text-wrap: nowrap;
}

.url-div3 {
    margin: 7% auto;
    width: 50%;
}

.summarize-url-content {
    padding: clamp(0.5rem, 0.4vw, 10rem);
    border-radius: 0;
    border: 0; 
    border-radius: 9px;   
    box-shadow: 0px 6px 15px 0px #00000033;
    width: 95%;
}

.shorten:hover, .copy-url:hover, .summarize-url-content:hover, .shorten-custom:hover {
    opacity: 1.0;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .insert-url, .shorten-url {
        font-size: clamp(1rem, 1.7vw, 10rem);
    }
    .button-text {
        font-size: clamp(0.8rem, 1.1vw, 10rem);
    }
}

@media (max-width: 600px) {
    .url-wrapper {
        width: clamp(300px, 45vw, 2000px);
    }
    .shorten, .copy-url {
        width: clamp(130px, 9vw, 1000px);
    }
    .url-div3 {
        width: 80%;
    }
    .input-url, .output-url {
        font-size: clamp(0.9rem, 1vw, 10rem);
    }
    .shortify-url {
        width: 100%;
        margin-bottom: 2vw;
    }
    .custom-word {
        width: 69%;
    }
    .shorten-custom {
        width: 29%;
        margin-right: 0%;
    }
}

@media (max-width: 350px) {
    .url-wrapper {
        width: clamp(270px, 45vw, 2000px);
    }
    .shorten, .copy-url {
        width: clamp(115px, 9vw, 1000px);
    }
}
