.url {
    max-width: 600px;
    text-align: center;
    font-size: larger;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.insert-url {
    display: block;
    padding: 3%;
}

.input-url, .output-url{
    width: 70%;
    padding: 11px 10px;
    border: 1px solid #716f6f;
    box-sizing: border-box;
    display: box;
}

.shorten-url {
    margin-top: 20px;
    padding: 10px;
    display: block;
}

.summarize-url-content {
    margin: 5% auto;
    border: 0;
    padding: 10px 25px;
    cursor: pointer;
    font-size: medium;
    border-radius: 10px;
    background-color: #0d55a7; 
    width: 200px; 
    margin-top: 1em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 9px;
}

.shorten, .copy-url {
    margin: 5% auto;
    border: 0;
    padding: 11px 25px;
    cursor: pointer;
    font-size: medium;
    background-color: #0d55a7; 
    width: 150px; 
    margin-top: 1em;
    box-shadow: 0px 3px 4px #0000004c;
    border-radius: 0px;
}

.summarize-url-content {
    width: 95%;
}

.button-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-wrap: none;
}


.shorten:hover, .copy-url:hover, .summarize-url-content:hover {
    opacity: 0.8;
}


@media (max-width: 625px) {
    .input-url, .output-url{
        width: 65%;
    }
}

@media (max-width: 550px) {
    .input-url, .output-url{
        width: 60%;
    }
}

@media (max-width: 470px) {
    .input-url, .output-url{
        width: 50%;
    }
    .button-text {
        font-size: 13px;
    }
    .shorten, .copy-url {
        width: 130px;
    }
    .summarize-url-content {
        width: 80%;
    }
} 